body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b1c2d;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #081726;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home {
    text-align: center;
    margin-top: 120px;
}

.main-btn {
    padding: 12px 30px;
    background-color: #ff7aa2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.page-title {
    text-align: center;
    margin: 40px 0;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
}

.book-card {
    background-color: #10263f;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.book-card img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.book-price {
    color: #ff9bb8;
    font-weight: bold;
}

.book-card button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #ff7aa2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.cart-items {
    padding: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #10263f;
    padding: 10px;
    border-radius: 8px;
}

.cart-item img {
    width: 80px;
}

.total-price {
    text-align: center;
    color: #ff9bb8;
}
